<div>
    <h2 id="page-heading">
        <span jhiTranslate="trackstockApp.comment.home.title">Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comment" [routerLink]="['/comment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="trackstockApp.comment.home.createLabel">
            Create new Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commentTitle"><span jhiTranslate="trackstockApp.comment.commentTitle">Comment Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commentBody"><span jhiTranslate="trackstockApp.comment.commentBody">Comment Body</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commentMedia"><span jhiTranslate="trackstockApp.comment.commentMedia">Comment Media</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateAdded"><span jhiTranslate="trackstockApp.comment.dateAdded">Date Added</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateApproved"><span jhiTranslate="trackstockApp.comment.dateApproved">Date Approved</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reply.id"><span jhiTranslate="trackstockApp.comment.reply">Reply</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="trackstockApp.comment.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="watchlist.id"><span jhiTranslate="trackstockApp.comment.watchlist">Watchlist</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let comment of comments ;trackBy: trackId">
                <td><a [routerLink]="['/comment', comment.id, 'view' ]">{{comment.id}}</a></td>
                <td>{{comment.commentTitle}}</td>
                <td>{{comment.commentBody}}</td>
                <td>
                    <a *ngIf="comment.commentMedia" (click)="openFile(comment.commentMediaContentType, comment.commentMedia)">
                        <img [src]="'data:' + comment.commentMediaContentType + ';base64,' + comment.commentMedia" style="max-height: 30px;" alt="comment image"/>
                    </a>
                    <span *ngIf="comment.commentMedia">{{comment.commentMediaContentType}}, {{byteSize(comment.commentMedia)}}</span>
                </td>
                <td>{{comment.dateAdded | date:'mediumDate'}}</td>
                <td>{{comment.dateApproved | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="comment.reply">
                        <a [routerLink]="['../comment', comment.reply?.id, 'view' ]" >{{comment.reply?.id}}</a>
                    </div>
                </td>
                <td>
                    {{comment.user?.login}}
                </td>
                <td>
                    <div *ngIf="comment.watchlist">
                        <a [routerLink]="['../watchlist', comment.watchlist?.id, 'view' ]" >{{comment.watchlist?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/comment', comment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comment', comment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'comment', { outlets: { popup: comment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
