<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-video-post-heading" jhiTranslate="trackstockApp.videoPost.home.createOrEditLabel">Create or edit a Video Post</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!videoPost.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trackstockApp.videoPost.postTitle" for="field_postTitle">Post Title</label>
                    <input type="text" class="form-control" name="postTitle" id="field_postTitle"
                           formControlName="postTitle"/>
                    <div *ngIf="editForm.get('postTitle').invalid && (editForm.get('postTitle').dirty || editForm.get('postTitle').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('postTitle').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trackstockApp.videoPost.postBody" for="field_postBody">Post Body</label>
                    <input type="text" class="form-control" name="postBody" id="field_postBody"
                           formControlName="postBody"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trackstockApp.videoPost.dateAdded" for="field_dateAdded">Date Added</label>
                    <div class="input-group">
                        <input id="field_dateAdded" type="text" class="form-control" name="dateAdded" ngbDatepicker  #dateAddedDp="ngbDatepicker" formControlName="dateAdded"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateAddedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateAdded').invalid && (editForm.get('dateAdded').dirty || editForm.get('dateAdded').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateAdded').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trackstockApp.videoPost.dateApproved" for="field_dateApproved">Date Approved</label>
                    <div class="input-group">
                        <input id="field_dateApproved" type="text" class="form-control" name="dateApproved" ngbDatepicker  #dateApprovedDp="ngbDatepicker" formControlName="dateApproved"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateApprovedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trackstockApp.videoPost.media1" for="field_media1">Media 1</label>
                    <div>
                        <div *ngIf="editForm.get('media1').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('media1ContentType').value, editForm.get('media1').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('media1ContentType').value}}, {{byteSize(editForm.get('media1').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({media1: null});editForm.patchValue({media1ContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_media1" (change)="setFileData($event, 'media1', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="media1" id="field_media1"
                           formControlName="media1"/>
                    <input type="hidden" class="form-control" name="media1ContentType" id="field_media1ContentType"
                           formControlName="media1ContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="trackstockApp.videoPost.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
